Cell::Base._helpers : <%= Cell::Base._helpers %> </br>
BaseWidget._helpers : <%= BaseWidget._helpers %> <br/>
TwitterWidget._helpers : <%= TwitterWidget._helpers %> <br/>
self.class.helpers : <%= self.class.helpers.inspect %> <br/>
self.helpers : <%= self.helpers %> <br/>

<%= self.class.inspect %> <br/>
<%= self.class.ancestors.inspect %> <br/>

<%= widget_div do %>

  <h1>
    TwitterWidget#display
  </h1>

  <p>
    Find me in app/widgets/twitter/display.html.erb
  </p>
<% end %>